doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    nav
      a Mora
      input(type=text placeholder='Search Mora')
      div 
        if locals.authenticated
          span Welcome #{locals.user.user_name}!
          form( action='/users/logout' method='post')
            button( type='submit') Logout
        else
          span
            a(href='/users/login') Login
            a(href='/users/signup') Sign Up
    block content
