extends layout

include utils.pug

block content
  form(action='/users/signup' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('User Name', 'user_name', user.user_name)
    +field('Email', 'email', user.email)
    +field('Occuption', 'occupation', user.occupation)
    +field('Password', 'password', user.password, 'password')
    +field('Confirm Password', 'confirmPassword', '', 'password')
    div
      button(type='submit') Sign Up