doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
        //- add page specific js
        script(src="/javascripts/index.js" type="module" defer)
  body
    div(id='nav_container')
      a(id='logo' href='/') Mora
      input(type=text id="searchBar" placeholder='Search Mora')
      ul(id="suggestions")
      div(id='search-container')
        a(id='askQuestion' href='/questions/new') Ask Question
      div(id='user_auth_container')
        if locals.authenticated
          select(name='dropDown', id='profileSelect')
               each val in ['myQuestion' , 'myAnswer' , 'Logout']
                  option(value=val)=val
        else
          span
            a(href='/users/login') Login
            a(href='/users/signup') Sign Up
    block content
