doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/questions.css')
        link(rel='stylesheet' href='/stylesheets/answers.css')
        link(rel='stylesheet' href='/stylesheets/votes.css')
        link(rel='stylesheet' href='/stylesheets/search.css')
        link(rel='stylesheet' href='/stylesheets/nav.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
        script(src="https://kit.fontawesome.com/72b8be2715.js" crossorigin="anonymous")
        script(src="/javascripts/index.js" type="module" defer)
  body
    div(id='nav_container')
      a(id='logo' href='/') Mora
      div(class="searchDiv")
        input(type=text id="searchBar" placeholder='Search Mora')
        ul(id="suggestions")
      div(id='search-container')
        a(id='askQuestion' href='/questi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ons/new') Ask Question
      div(id='user_auth_container')
        if locals.authenticated
          select(name='dropDown', id='profileSelect')
            each val in ['myQuestion' , 'myAnswer' , 'Logout']
              option(value=val)=val
        else
          span
            a(href='/users/login') Login
            a(href='/users/signup') Sign Up
    div(id="main-body")
      div(id="left-nav-container")
        div(id="nav-home")
          a(href='/')
            i(class="fas fa-home")
            div Home
        div(id="nav-question")
          a(href='/my-questions')
            i(class="fas fa-question-circle")
            div My Questions
        div(id="nav-answer")
          a(href='/my-answers')
            i(class="fas fa-edit")
            div My Answers
        div(id="nav-story")
          a(href='/our-story')
            i(class="fas fa-book-open")
            div Our Story
      div(id="content-parts")
        block content
