extends layout


block content
  h1= 'Our Story'
  div(class='developers-container')


    div(class='developer-Jessi')
      div(class='developer-intr')
        div(class='developer-name') Jessi Zhuo
        div(class='developer-story') Jessi's story goes here, blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.......
        div(class='developer-link')
          a(href='https://github.com/zyingzhuo')
            i(class="fab fa-github")
          a(href='')
            i(class="fab fa-linkedin-in")
      div(class='developer-image')
        img(src='../image/jessi.jpeg', width='200' height='200' alt='image of a developer named Nick')
    div(class='developer-Kristy')
      div(class='developer-image')
        img(src='../image/kristy.jpeg', width='200' height='200' alt='image of a developer named Nick')
      div(class='developer-intr')
        div(class='developer-name') Kristy Zhang
        div(class='developer-story')   My name is Kristy Zhang. I’ve been working on software design and development related work for 4 years. My experience includes communicating and analyzing user requirements, authoring functional requirement documentation and workflows, building data frames and interactive prototypes, implementing web applications within a team. 
        div(class='developer-link')
          a(href='https://github.com/KristyCS')
            i(class="fab fa-github")
          a(href='https://www.linkedin.com/in/jingyuan-zhang-708ab763/')
            i(class="fab fa-linkedin-in")
    div(class='developer-Nick')
      div(class='developer-intr')
        div(class='developer-name') Nick Sim
        div(class='developer-story') Nick's story goes here, blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
        div(class='developer-link')
          a(href='https://github.com/NJSim')
            i(class="fab fa-github")
          a(href='https://www.linkedin.com/in/nicolas-sim-156422170/')
            i(class="fab fa-linkedin-in")
      div(class='developer-image')
        img(src='../image/nick.JPG', width='200' height='200' alt='image of a developer named Nick')
    div(class='developer-Jack')
      div(class='developer-image')
        img(src='../image/jack.jpeg', width='200' height='200' alt='image of a developer named Jack')
      div(class='developer-intr')
        div(class='developer-name') Wei-Yang(Jack) Lin
        div(class='developer-story') Jack's story goes, here blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.......
        div(class='developer-link')
          a(href='https://github.com/wylin94')
            i(class="fab fa-github")
          a(href='https://www.linkedin.com/in/wylin94/')
            i(class="fab fa-linkedin-in")
            