extends layout

block content
  div(class='developers-container')

    div(class='developer') 
      div(class='developer-image')
        img(src='../image/jessi.jpeg', width='200' height='200' alt='image of a developer named Nick')
      div(class='developer-name') Jessi Zhou
      div(class='developer-story') story of each developer placeholder 
        div(class='developer-link')
          a(href='https://github.com/zyingzhuo') github 
          a(href='') linkedIn

    div(class='developer') 
      div(class='developer-image')
        img(src='../image/kristy.jpeg', width='200' height='200' alt='image of a developer named Nick')
      div(class='developer-name') Kristy Zhang
      div(class='developer-story') story of each developer placeholder 
        div(class='developer-link')
          a(href='https://github.com/KristyCS') github 
          a(href='https://www.linkedin.com/in/jingyuan-zhang-708ab763/') linkedIn

    div(class='developer') 
      div(class='developer-image')
        img(src='../image/nick.png', width='200' height='200' alt='image of a developer named Nick')
      div(class='developer-name') Nick Sim
      div(class='developer-story') story of each developer placeholder 
        div(class='developer-link')
          a(href='https://github.com/NJSim') github 
          a(href='https://www.linkedin.com/in/nicolas-sim-156422170/') linkedIn 

    div(class='developer') 
      div(class='developer-image')
        img(src='../image/jack.jpeg', width='200' height='200' alt='image of a developer named Jack')
      div(class='developer-name') Wei-Yang(Jack) Lin
      div(class='developer-story') story of each developer placeholder 
        div(class='developer-link')
          a(href='https://github.com/wylin94') github 
          a(href='https://www.linkedin.com/in/wylin94/') linkedIn 