h1 {
  color: #555555;
  text-align: center;
}

p {
  font-size: 20px;
}

body {
  background-color: rgb(241, 242, 242);
  padding-top: 37px;
  display:flex;
  flex-direction: column;
}

a#askQuestion {
  color: rgb(185, 43, 39);
  text-decoration: none;
  font-weight: bold;
}

#nav_container {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px
}

a#logo {
  color: rgb(185, 43, 39);
  text-decoration: none;
  font-family: serif;
  font-weight: bold;
  font-size: xx-large;
  justify-content: space-between;
}

button#welcome-submit-btn{
  margin-left: 15px;
}

#welcome_container{
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  border: solid rgb(215, 215, 215) 1px;
  font-size: inherit;
  padding:20px;
  margin-top: 20px;
}

#user_auth_container{
  justify-content: space-between;
  display:flex;
  flex-direction:column;
}

button.editBtn+div, button.edit-question-button+div{
  display: none;
}
li{
  list-style-type:none;
}
li a{
  text-decoration: none;
}

.user-text {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

#main-body{
  display: flex;
}

#content-parts {
  /* position:fixed; */
  margin: 0 auto;
  width: 60%;
}

.searchDiv{
  display:flex;
  flex-direction: column;
}
