#left-nav-container {
    width: 200px;
    display: flex;
    gap: 52px;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 0;
    margin-top: 200px;
    transform:translateX(30%);
}

#left-nav-container a {
    font-size: 30px;
    text-decoration: none;
    /* align-content: flex-end;
    display:flex; */
}

#left-body{
  display:grid;
  width:100%;
  grid-template-columns: 40% 60%;
  z-index: 1;
}