#left-nav-container {
  width: 200px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: start;
  /* margin-left: 30px; */
  /* margin-right: 0; */
  margin-top: 50px;
  /* transform: translateX(30%); */
  /* text-align: center; */
}

#left-nav-container a {
  position: relative;
  font-size: 20px;
  text-decoration: none;
  left: 50px;
  /* align-content: flex-end;
  display:flex; */
}

/* #left-body{
  display: grid;
  width: 100%;
  grid-template-columns: 40% 60%;
  z-index: 1;
} */

#nav-home, #nav-question, #nav-answer, #nav-story {
  color: grey;
}

#nav-home:hover, #nav-question:hover, #nav-answer:hover, #nav-story:hover {
  color: rgb(165, 165, 165);
}

.icon-text {
  position: relative;
  left: 5px;
  font-size: 20px;
}

.left-nav-footer {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: start;
  position: relative;
  top: 10px;
  width: 200px;
}

.line {
  position: relative;
  border-top: 1px solid rgb(201, 201, 201);
  width: 150px;
  left: 50px;
}

