.searchDiv{
  display:flex;
  flex-direction: column;
}

#searchBar {
  width: 400px;
  height: 30px;
  border: 1px solid #dee0e1;
  border-radius: 3px;
  text-indent: 25px;
}

#searchBar:hover {
  border-color: #2E69ff;
}

.answerContain{
  display: none;
}

#search-container{
  justify-content: space-between;
}

.input-icons i {
  position: absolute;
}
  
.icon {
  padding: 7px;
  color: rgb(159, 159, 159);
}

