.developer-Jessi,
.developer-Nick {
    background-color: lightgray;
    display:flex;
    flex-direction:row;
}

.developer-Kristy,.developer-Jack{
    background-color: white
}

.developers-container {
    margin-right: 0px;
    width: 100%;
    position: relative
}

.developer-image img{
    border-radius: 50%;
}




