.vote-section {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  gap: 5px;
}

.voteNum {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 44px;
  top: 4px;
  text-indent: 10px;
  border-left: 1px solid rgb(205, 205, 205);
  height: 23px;
}

.upvote-question-button, .upvote-answer-button {
  border: 1px solid rgb(241, 242, 242);;
  border-radius: 20px;
  background-color: rgb(235, 235, 235);
  color: #2E69ff;
  font-size: 15px;
  width: 80px;
  height: 30px;
  text-align: left;
  text-indent: 5px;
}

.upvote-question-button:hover, .upvote-answer-button:hover {
  background-color: rgb(225, 225, 225);
}

